body{
  font-family:"Fantasy", sans-serif;
}
header{
  background-image: linear-gradient(0,#96CCCC,#008080);
  height: 120px;
  
}
header{
  backdrop-filter: blur(10p0x);
}
.grid{
 width: 1300px;
 padding: 20px; 
 margin: 0 auto;
}
.search{ 
  border: none;
  margin-top: 15px;
  padding: 10px;
  width: 500px;
  border-radius: 5px;
}
.select{
  margin-top: 15px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
}
.giohang{
  color: white;
  margin-left: 150px;
  font-size: 20px;
  background-color: #66CCCC;
  padding: 15px;
  border-radius: 10px;
}
.giohang:hover{
  background-color:#36CCCC ;
}
a{text-decoration: none}
.button{
  border: none;
  border-color:white;
  border-radius: 5px;
  margin-top: 15px;
  padding:9px;
  width: 50px;
  background-color: white;
  cursor: pointer;
}
.button:hover{
  background-color: #008080;
}
.two{
  display: flex;
  justify-content: space-around;
}
.logo{
  width: 130px;
  border-radius: 10px;
}
.navbar{
  background-color: rgb(239, 235, 235);
  border-bottom: 3px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
 }
 .item{
  display: flex;
  position: relative;
}
.item-has:hover .item-noti{
  display: block;
}
.item-list:hover{
  background-color: #d2e2e2;
}
.item-list{
  
  display:inline-block;
  padding: 10px 15px;
  color: black;
  font-weight: bold
}
.item-noti{
  background-color: whitesmoke;
  border: 3px solid gainsboro;
  border-radius: 5px;
  position: absolute;
  width: 200px;
  transform-origin: 20px top ;
  animation: notifi ease-in 0.2s;
  display: none;
}
.item-noti::before{
  content: "";
  border:10px solid;
  border-color: transparent transparent whitesmoke transparent;
  position: absolute;
  top: -18px;
  left: 12px;
}
@keyframes notifi {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
.item-noti-0{
  margin: 0px;
 padding: 10px;
}

.item-noti-2{
  color: black;
}

li{
  padding: 10px;
}
li:hover {
  background-color: white;
}
ul{
  list-style-type: none;
}


.items{
  margin: 0 50px;
  padding: 0px 50px;
}
.items-top{
  padding: 0;
}
.footer-top-inf-title{
  width: 100%;
  height: 70px;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer-top-inf-title i{
  font-size:25px;
  padding-right: 10px;
}
.footer-top-inf-title-1{
  cursor: pointer;
}
.footer-top-inf-dec{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.footer-top-inf-dec-1 i{
  /* color: black; */
  padding-right: 10px;
}
.footer-bottom{
  margin-top: 50px;
  background-color: gray;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-top-inf-dec{
border-bottom: 2px dotted gray;
padding-bottom: 20px;
}
.delivery-top{
  margin-left: 230px;
  margin-right: 230px;
}

.delivery-top-login-1{
  margin: 10px;
  padding: 20px;
  background-color: rgb(239, 239, 253);
}
.delivery-top-login label{
  color: rgb(89, 89, 209);
  cursor: pointer;
}
.delivery-top-login label:hover{
  color: blue;
}
.delivery-top-register label{
  color: rgb(89, 89, 209);
  cursor: pointer;
}
.delivery-top-register label:hover{
  color: blue;
}
.delivery-top-register-1{
  margin: 10px;
  padding: 20px;
  background-color: rgb(239, 239, 253);
}
.delivery-form-login{
  display: flex;
  padding-bottom: 30px;
}

.username{
  padding-right: 50px;
  width: 100%;
}
.username input{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 2px solid #ddd;
  padding-left: 10px;
}
.password1{
  width: 100%;
}
.password1 input{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 2px solid #ddd;
  padding-left: 10px;
}
.delivery-form-button button{
  background-color: darkblue;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}
.delivery-form-button button:hover{
  background-color: rgb(31, 31, 166);
}
.delivery-form-register2{
  display: flex;
  margin-bottom: 30px;
}
.username-register {
  margin-bottom: 20px;
}
.username-register input{
  margin-top: 10px;
  width: 47.5%;
  height: 30px;
  border: 2px solid #ddd;
  padding-left: 10px;
}
.password-register{
  width: 100%;
}
.password-register input{
  width: 100%;
  height: 30px;
  border: 2px solid #ddd;
  padding-left: 10px;
}
.password-register:first-child{
  margin-right: 50px;
}
.delivery{
  display: grid;
  place-items: center;
}
.container{
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.delivery-form{
  border-top: 2px solid #ddd;
}
.delivery-form-name{
  display: flex;
  padding-bottom: 30px;

}
.delivery-form-name input{

  height: 38px;

}
.firstname{
  padding-right: 40px;
  width: 100%;
}
.lastname{
  width: 100%;
}

.country{
  padding-bottom: 30px;
}
.country select{
  width: 200px;
  height: 38px;
  padding-left: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 10px;
}
.address{
  padding-bottom: 30px;
  width: 100%;
}
.address select{
  margin: 10px 0;
  height: 38px;
  width: 30%;
  text-align: center;
  border: 1px solid #ddd;
}
.code-office{
  padding-bottom: 30px;
}
.container form input{
  width: 100%;
  height: 38px;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.phonenumber-email{
  display: flex;
  padding-bottom: 30px;
}
.phone-number{
  padding-right: 40px;
  width: 100%;
}
.email{
  width: 100%;
}
.message{
  padding-bottom: 100px;
}
.message textarea{
  width: 100%;
  padding-left: 10px;
  padding-top: 15px;
  font-family:"Fantasy", sans-serif;
  font-size: 15px;
}
textarea{
  margin-top: 10px;
}
.delivery-accept{
  padding: 15px 30px;
  width: 350px;
  border: 2px solid darkblue;
  height:100%
}
.delivery-accept table th{
  font-size: 20px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom: 20px;
  text-transform:  uppercase;
  border-collapse:collapse ;
  border-bottom: 2px solid #ddd;
  color: darkblue;
}
.delivery-accept table{
  width: 100%;
}
.delivery-accept table td{
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  font-weight:bold;
}
.delivery-accept table td:last-child{
  text-align: right;
}
.delivery-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.delivery-button input{
  margin-bottom: 20px;
}
.delivery-button-bottom button{
  background-color: rgb(216, 54, 54);
  color: white;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.delivery-button-bottom button:hover{
  background-color: rgb(168, 33, 33);
}
#toggle{
  display: none;
}
.delivery-top-login-1{
  display: none;
  transform-origin: 50px top ;
  animation: notifi ease-in 0.4s;
}
#toggle:checked ~.delivery-top-login-1{
  display: block;

}
#toggle2{
  display: none;
}
.delivery-top-register-1{
  display: none;
  transform-origin: 50px top ;
  animation: notifi ease-in 0.4s;
}
#toggle2:checked ~.delivery-top-register-1{
  display: block;
}